.box {
      width: 550px;
      height: 550px;
    border: 1px solid;
    border-color: 
    rgba(180, 180, 180, 1);
    padding: 134px;
    
}
h4 {
    color: black;
    
}
p {
    color: 
    rgba(128, 128, 128, 1);
   
}